{
  "extends": [
    "ringcentral-typescript"
  ],
  "rules": {
    "comma-dangle": [
      "error",
      "never"
    ],
    "import/named": "off",
    "import/no-default-export": "off",
    "no-console": "off",
    "no-inner-declarations": "off",
    "no-undef": "off",
    "no-var": "off",
    "prettier/prettier": [
      "error",
      {
        "bracketSpacing": false,
        "parser": "typescript",
        "singleQuote": true,
        "tabWidth": 4,
        "trailingComma": "none"
      }
    ],
    "@typescript-eslint/camelcase": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/no-var-requires": "off",
    "ringcentral/specified-comment-with-task-id": "off"
  },
  "settings": {
    "react": {
      "version": "16.8.0"
    }
  }
}