/*.js
/.chrome
/.cache-loader
/.coverage
/.screenshots
/.editorconfig
/.eslintrc
/.prettierrc
/.huskyrc
/.lintstagedrc
/.travis.yml
/bower.json
/demo
/demo/bootstrap
/dist/*.html
/dist/demo*.js
/tests
/Procfile
/tsconfig.json